# Windows scripts keep CRLF line endings, shell scripts and the CI's files LF
*.bat text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
*.yml text eol=lf

# binary files
*.woff2 binary
*.lib binary
*.tlb binary
*.p7s binary
